---

// Importing default HTML
import Layout from "../layouts/Layout.astro";

// Importing local SCSS
import '../sass/p_homepage/index.scss';

// == Images ==
// Images must be placed in the public folder. You can link to them.
// e.g. src="/assets/images/photos/random-photo.png".

---

<Layout>
	<!-- HTML content -->

	<!-- Hero Section -->
	<section id="hero-image-section" class="grid place-items-center">
		<h1 class="text-color-primary font-medium font-size-128">Ableton</h1>
	</section>

	<!-- About -->
	<section class="py-64 w-3/5">

		<h5 class="font-size-28 leading-relaxed font-medium">
			We make 
			<a href="/" class="text-color-secondary cursor-pointer font-size-28 font-medium">
				Live
			</a>
			, 
			<a href="/" class="text-color-secondary cursor-pointer font-size-28 font-medium">
				Push
			</a>
				 and 
			<a href="/" class="text-color-secondary cursor-pointer font-size-28 font-medium">
					Link
			</a>
			 — unique software and hardware for music creation and performance. With these products, our community of users creates amazing things.
		</h5>

		<p class="font-size-18 leading-relaxed mt-8">
			Ableton was founded in 1999 and released the first version of Live in 2001. Our products are used by a community of dedicated musicians, sound designers, and artists from across the world.
		</p>
	</section>

	<!-- Image Section - One -->
	<section class="relative">

	</section>


</Layout>