<header>
  <!-- First Header -->
  <header class="w-full p-none">

    <div class="w-full h-28 bg-white border-b-2 border-b-gray-200 flex items-center px-14 justify-between">
      <div class="flex items-center justify-between w-2/5">

        <!-- Header Logo -->
        <a href="/">
          <img src="/assets/images/branding/ableton-logo.jpg" alt="" class="w-28">
        </a>

        <nav class="flex items-center justify-between w-4/5">
          <a href="/" class="text-black font-size-20 font-medium">
            Live
          </a>
          <a href="/" class="text-black font-size-20 font-medium">
            Push
          </a>
          <a href="/" class="text-black font-size-20 font-medium">
            Link
          </a>
          <a href="/" class="text-black font-size-20 font-medium">
            Shop
          </a>
          <a href="/" class="text-black font-size-20 font-medium">
            Packs
          </a>
          <a href="/" class="text-black font-size-20 font-medium">
            Help
          </a>
          <a href="/" class="text-color-primary font-size-20 font-medium">
            More
            <i class="fa-solid fa-plus hover:rotate-45"></i>
          </a>
        </nav>
      </div>
      <div class="flex w-2/5 justify-end">
        <div class="flex justify-between items-center">
          <a href="/" class="text-color-secondary font-size-20 font-medium mr-8">
            Try Live For Free
          </a>
          <a href="/" class="font-size-16 text-black font-semibold">
            Log in or register
          </a>
        </div>
      </div>
    </div>

    
  </header>
  <!-- Second Header -->
  <header class="w-full h-28 bg-white flex items-center px-14 opacity-90 sticky">
    <nav class="flex items-center justify-between w-1/5">
      <a href="/" class="text-color-primary font-size-16 font-semibold">
        About
      </a>
      <a href="/" class="text-black font-size-16 font-semibold">
        Jobs
      </a>
      <a href="/" class="text-black font-size-16 font-semibold">
        Apprenticeships
      </a>
    </nav>
  </header>
</header>